{% extends "layout.html" %}

{% block content %}

<!-- <p style="background-image: url('train4.jpg');"></p>  -->
<p style="background-image: url('train4.jpg');"></p> 

<div class="container">
  
  <div class="title">Welcome to Pakistan Railway System</div>
  <div class="greeting">How can we help you today?</div>
  <div class="content">
<!-- edit submit form -->
  <form action="/customer_dashboard/submitformcustomer" method="post">
      <div class="button">
        <input name="submit" type="submit" value="Book a personal ticket">
        <div class ="empty"></div>
        <input type="submit" name="submit" value="Book a ticket for a loved one">
        <div class ="empty"></div>
        <input type="submit" name="submit" value="Search your ticket">
        <div class ="empty"></div>
        <input type="submit" name="submit" value="Track your shipment">
        <div class ="empty"></div>
        <input type="submit" name="submit" value="Print your ticket">
        <div class ="empty"></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}